# Ignore Files, so they don't get pushed into the repository
node_modules/
*.log
*.logs
.env
package-lock.json
style.scss
style.css.map
uploads/
tes.js
drawSQL-mysql-export-2021-12-14(1).sql
SQL/
public/images/*.png
public/images/imgPost/*.png