<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Create Album</title>
</head>

<body>
    <%- include("../components/header", isLoggedIn, user_id, image) %>
    <main> 
        <%- include("../components/nav") %>
        <form action="/createalbum" method="post" class="users-form form__create" enctype="multipart/form-data">
            <textarea type = "text" name="title" id="title" rows="1" placeholder="Title" required></textarea>
            <textarea type = "text" placeholder="Description (Optional)" name="description" id="description" cols="30" rows="15" ></textarea>
            <br />
            <h3>Add Album Cover (Optional)</h3>
            <input type="file" name = "albumimg" accept = "image/*" id="albumimg">
            <button type="submit">Create Album</button>
        </form>
    </main>
    <%- include("../components/scripts_links.ejs") %>
</body>

</html>