<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("font-awesome") %>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <%- include("header") %> 
    <main>
        <div class="users-form">
            <form action="/create" method="post" class="users-form__form users-form__form--wide">
                <textarea name="post_message" cols="30" rows="20" placeholder="What is on your mind?"></textarea>
                <button id="users-form__submit" type="submit">Create Post</button>
                <% if (typeof message=='object' && message) { %>
                <p class="users-form__error">
                    <%= message[0].msg %>
                </p>
                <% } %>
            </form>
            <a href="/">Go Back to Home Page!</a>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>