<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("../components/header", isLoggedIn, user_id) %> 
    <main>
        <%- include("../components/nav") %> 
        <form action="/createpost" method="post" class="users-form form__create">
            <input type="text" name="title" id="title" placeholder="Title" required>
            <textarea placeholder="Description" name="description" id="description" cols="30" rows="15" required></textarea>
            <button type="submit">Create Post</button>
        </form>
    </main>
</body>
</html>