<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
    <%- include('font-awesome') %>
</head>

<body>
    <header class="header">
        <h1><a href="/">Popsicel</a></h1>
    </header>

    <main class="users-form">
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" autocomplete="off" placeholder="Username" name="username" id="username" required />
            <% if (typeof invalidUser=='string' && invalidUser ) {%>
                <p>
                    <%= invalidUser %>
                </p>
                <% } %>
                    <label for="password">Password</label>
                    <input type="password" autocomplete="off" placeholder="Password" name="password" id="password"
                        required />
                    <% if (typeof invalidPassword=='string' && invalidPassword) { %> 
                        <p>
                            <%= invalidPassword %> 
                        </p>
                        <% } %> 
                    <input type="submit" value="Login">
                    <span id="no-account">Don't have an account? <a href="/register">Register!</a></span>
        </form>
        <a href="/">Go Back to Home Page!</a>
    </main>
    <script src="script.js"></script>
</body>

</html>