@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
:root {
  --light-gray: hsl(233, 10%, 89%);
  --white: hsl(220, 14%, 96%);
  --purple: hsl(244, 65%, 50%);
  --light-purple: hsl(256, 78%, 57%);
  --box-shadow: 0 0 4px hsl(0, 0%, 0%, 0.2);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

body {
  background: var(--light-gray);
  font-family: "Readex Pro", sans-serif;
}

input {
  font-family: "Readex Pro", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

.header {
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3rem 15rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  padding-bottom: 0.3rem;
}

.header h1 a {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header h1 a::before {
  content: "";
  background: var(--light-purple);
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header h1 a:hover, .header h1 a:focus-visible {
  color: var(--purple);
}

.header h1 a:hover::before, .header h1 a:focus-visible::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__search-bar {
  background: var(--light-gray);
  padding: 1em 1.5em;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__search-bar button {
  color: #595959;
  border: none;
  outline: none;
  font-size: 1.1rem;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.header__search-bar button:hover, .header__search-bar button:focus-visible {
  color: var(--purple);
}

.header__search-bar:focus-within button {
  color: var(--purple);
}

.header__search-bar input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1rem;
  margin: 0 1rem;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__search-bar input:focus-visible {
  color: var(--purple);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.nav__create-button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2rem;
  color: #737373;
}

.nav__create-button:hover {
  color: var(--light-purple);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav__dropdown {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav__dropdown.active .nav__dropdown__menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}

.nav__dropdown button {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: none;
  background: var(--light-gray);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.nav__dropdown button:hover, .nav__dropdown button:focus-visible {
  background: #8c8c8c;
}

.nav__dropdown__menu {
  position: absolute;
  top: calc(100% + 2rem);
  background: var(--white);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.nav__dropdown__menu a {
  color: #595959;
  padding: 0.8em 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  width: 100%;
}

.nav__dropdown__menu a:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav__dropdown__menu a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav__dropdown__menu a:hover, .nav__dropdown__menu a:focus-visible {
  background: #a6a6a6;
  color: white;
}

.card__list {
  width: 40%;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2em;
}

.card {
  background: var(--white);
  border-radius: 25px;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.5em;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__interact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  place-items: center;
  min-height: 80vh;
}

.users-form {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-row-gap: 2rem;
  width: 100%;
}

.users-form a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.users-form a::before {
  content: "";
  background: var(--light-purple);
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.users-form a:hover, .users-form a:focus-visible {
  color: var(--light-purple);
}

.users-form a:hover::before, .users-form a:focus-visible::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.users-form__form {
  background: var(--white);
  padding: 2em 2em 1.5em 2em;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: clamp(100px, 90%, 425px);
}

.users-form__form label {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.users-form__form label:not(:first-child) {
  margin-top: 1rem;
}

.users-form__form input {
  border-radius: 25px;
  border: none;
  font-size: 1rem;
}

.users-form__form input[type="text"],
.users-form__form input[type="password"] {
  margin-bottom: 0.5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 0.7em 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.users-form__form input[type="text"]:focus-visible,
.users-form__form input[type="password"]:focus-visible {
  color: var(--light-purple);
}

.users-form__form input[type="submit"] {
  background: var(--light-purple);
  border: 2px solid var(--light-purple);
  color: white;
  font-size: 1.1rem;
  margin: 1.5rem 0 0.6rem 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 1.1px;
  padding: 0.6em 1em;
}

.users-form__form input[type="submit"]:hover, .users-form__form input[type="submit"]:focus-visible {
  background: var(--white);
  color: var(--light-purple);
}

.users-form__form span {
  margin: 0 auto;
  margin-top: 0.3rem;
}

.users-form__form span a {
  color: var(--light-purple);
}

.users-form__form textarea {
  resize: none;
  font-family: "Readex Pro", sans-serif;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 25px 25px 0 0;
  border: none;
  padding: 1em;
  font-size: 1rem;
  scrollbar-width: thin;
}

.users-form__form input#users-form__submit {
  margin: 0 0 0.6rem 0;
  border-radius: 0 0 25px 25px;
}

.users-form__error {
  color: #ed5e5e;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.users-form__form--wide {
  width: clamp(100px, 90%, 575px);
}
/*# sourceMappingURL=style.css.map */