<header class="header">
    <h2><a href="/">Pop<span>sicle</span></a></h2>
    <form action="/search" class="header__search">
        <button type="submit"><i class="fas fa-search"></i></button>
        <input type="text" name="search" id="search" placeholder="Search for creators, inspirations, projects...">
    </form>
    <div class="header__dropdown">
        <button data-dropdown-toggle>
            <% if (typeof isLoggedIn == 'boolean' && isLoggedIn && profile_image != '') { %>
                <img src="/images/<%= profile_image %>" alt="" width="50" height="50" data-dropdown-toggle>
            <% } else { %>
                <img src="/images/Unknown_person.jpg" alt="" width="50" height="50" data-dropdown-toggle>
            <% } %>
        </button>
        <div class="header__menu">
            <% if (typeof isLoggedIn == 'boolean' && isLoggedIn) { %>
            <a href="/users/<%= user_id %>">Profile</a>
            <a href = "/users/<%= user_id  %>/edit">Settings</a>
            <a href="/logout">Logout</a>
            <a id="dark-mode-toggle" class="dark-mode-toggle">Switch Theme</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a id="dark-mode-toggle" class="dark-mode-toggle">Switch Theme</a>
            <% } %>
        </div>
    </div>
</header>
<script src="/../js/dropdownMenu.js"></script>
<script src="/../js/darkmode.js"></script>