<nav>
    <ul>
        <li>MENU</li>
        <li><a href="/">Home</a></li>
        <li><a href="">Explore Topics</a></li>
        <li><a href="">My Topics</a></li>
        <li><a href="">My Answers</a></li>
    </ul>
</nav>